---
apiVersion: v1
kind: Service
metadata:
  annotations:
    metallb.universe.tf/allow-shared-ip: svc-{{ guid.split('-')[0] if '-' in guid else guid }}
  name: {{ svcname }}
  namespace: {{ ai_ocp_namespace }}
spec:
  ports:
  - name: https
    port: 443
    protocol: TCP
    targetPort: 443
  - name: http
    port: 80
    protocol: TCP
    targetPort: 80
  selector:
    role: {{ role | default('worker') }}
  type: LoadBalancer
